{% extends '_base.html' %}

{% include 'partials/navbar.html' %}

{% block title %} Zoznam dlžieb {% endblock %}

{% block content %}

<section class="py-5" id="recepty">
    <div class="container">
        <h2 class="text-center mb-5">Kto-Komu-Koľko-Dlží™</h2>

        <div class="py-4">
            <h5 class="text-center mt-5">Stránka, ktorá mi má pomocť spomenúť si, koľkým ľuďom vlastne dlžím.</h5>
            <h5 class="text-center">Vytvorené prokrastinujúcim Alexom na konci vianočných prázdnin.</h5>
        </div>
        

    </div>
</section>

{% include 'partials/footer.html' %}

{% endblock %}